<phpunit bootstrap="./bootstrap.php">
    <php>
        <var name="DB_DSN" value="mysql:dbname=fashion_testing;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="34543" />
        <var name="DB_DBNAME" value="fashion_testing" />
    </php>
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
        <directory>./library</directory>
    </testsuite>
    
</phpunit>
